@charset "UTF-8";
//-----------------------------------------------------
// index scss
//-----------------------------------------------------

//-----------------------------------------------------
// author:      Yic
// version:     1.0
// time:        2016-06-16
//-----------------------------------------------------
@import "./assets/sassCore-master/function";
.refund{
  border-top:1px solid #eeeeee;
  .refund-content{
    width: 1300px;
    margin: 0 auto;
    .refund-title{
      text-align: center;
      .f50{
        margin:75px 0;
        font-size: 50px;
      }
      p{
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 20px;
      }
    }
    .refund-form{
      .form-title{
        margin-top: 100px;
        height:85px;
        border-bottom:1px solid #000;
        font-size: 30px;
        text-align: center;
        i{
          margin-right: 10px;
          color: #ff8322;
        }
      }
      .form-content{
        width: 1160px;
        margin:0 auto;
        div:first-child{
          margin-top: 30px;
        }
        div{
          margin-bottom: 25px;
          font-size: 22px;
          a{
            margin-right: 15px;
            color: #666;
            font-size: 18px;
            i{
              margin-right: 5px;
              font-size: 12px;
              position: relative;
              top:-3px;
            }
          }
          .input-radius{
            width:  1100px;
            padding: 0 30px;
            height: 44px;
            border: 1px solid #333;
            border-radius: 25px;
            outline: 0;
          }
          textarea{
            width:  1100px;
            padding: 10px 30px;
            height: 100px;
            border: 1px solid #333;
            outline: 0;
          }
        }
        .floor{
          width: 1100px;
          margin-left: 25px;
          .floor-cell{
            padding:0 10px;
            input{
              padding: 0 10px;
              height: 50px;
              border: 1px solid #333;
              outline: 0;
              text-align: center;
            }
            .w100{
              width: 100%;
            }
          }
        }
        .add{
          width: 115px;
          height: 115px;
          text-align: center;
          line-height: 115px;
          font-size: 40px;
          border: 1px solid #333;
          cursor: pointer;
        }
        .submit{
          text-align: right;
          input,a,img{
            display: inline-block;
            margin-right: 20px;
          }
          input{
            width: 260px;
            height: 40px;
            text-align: center;
            outline: 0;
          }
          a{
            width: 102px;
            height: 42px;
            line-height: 42px;
            color: #fff;
            text-align: center;
          }
          .sub-true{
            background: #a40000;
          }
          .sub-reset{
            background: #9c9c9c;
          }
        }
      }
    }
  }
}